.App {
  text-align: center;
}

.obj-card {
  display: block;
  border-style: solid;
  border-color: black;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.obj-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.home {
  padding-top: 50px;
}

.profile-card {
  display: block;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
